 <!-- ***** Call to Action Start ***** -->
 <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/about-image-1-940x460.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                  <img class="imagen" src="assets/images/oxxoLogo.png" alt="user" />
                  <h2><em>OXXO</em></h2>
                    <p>Comercio / Servicios </p>
                    <div class="main-button">
                      <a href="#">Seguir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->


    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>

           <!-- detallles del usuario -->
            
            <br>
            <br>

            <div class="row" >
              <div class="col-lg-4" >

                
                
               <div class="row">
                  <div class="col-lg-12 col-sm-6" >
                    <article class='tabs-content' id='tabs-3'>
                      <h2>Detalles de contacto</h2>
   
                      <div class="row">   
                          <div class="col-sm-12">
                              <label>Nombre de la empresa</label>
   
                              <p>OXXO</p> 
                          </div>
                          <div class="col-sm-12">
                              <label>Telefono</label>
   
                              <p>01 (81) 83 20 20 20 </p>
                          </div>
                          <div class="col-sm-12">
                              <label>Teléfono móvil</label>
                              <p>456789123 </p>
                          </div>
                          <div class="col-sm-12">
                              <label>Correo</label>
                              <p><a href="#">atencionaclientes@oxxo.com</a></p>
                          </div>
                          <div class="col-sm-12">
                              <label>Sitio web</label>
                              <p><a href="http://www.saulo.com/">http://www.saulo.com/</a></p>
                          </div>
                      </div>
                    </article>
                  </div>

                  <!-- aqui esta la otra parte donde deberia de estar las redes sociales  --> 

           
                  <div class="col-lg-12 col-sm-6">

                    
                  
   
                      <div class="row">   
                          <div class="col-sm-12" >
                            <article class='tabs-content' id='tabs-3'>
                              <h2>Nuestras Redes Sociales</h2>
           
                              <div class="row">   
                                  <div class="col-sm-3">
                                      
                                      <p><a href="#" class="fab fa-twitter" id="icn"></a></p>
                                  
                                  </div>
                                  <div class="col-sm-3">
                                    
                                    <p><a href="#" class="fab fa-facebook" id="icn"></a></p>
                                    
                                  </div>
                                  <div class="col-sm-3">
                                  
                                    <p><a href="#" class="fab fa-instagram" id="icn"></a></p>
                                  
                                  </div>
                                  <div class=" col-lg-3">
                                 
                                    <p><a href="#" class="fab fa-github" id="icn"></a></p>
                                  
                                  </div>
                                  
                              </div>

                            </article>
                            
                              
                          </div>
                      </div>
                    
                  </div>


                </div>

                
                




               

                
              </div>
              <div class="col-lg-8" >
                
                <section class='tabs-content' style="width: 90%;" >
                  <article id='tabs-1' >
                    <h2>Descripción de la empresa</h2>
                    <p class="lead"> <i class="fa fa-map-marker"></i> Monterrey, NL </p>
                    <p>Gran motivación para seguir perfeccionando habilidades y crecer profesionalmente. 
                      Confío plenamente en mi capacidad de producir ideas interesantes para campañas de
                       marketing que no pasarán desapercibidas.</p>

                  </article>

                 
                </section>

                
              </div>
            </div>
        </div>

        <div class="container" id="listatrabajos">
            <h2>Lista de trabajos disponibles</h2>

            <div class="row">
                <div class="col-lg-4" >
                    <div class="card" id="cardEmpleo">
                        <div class="card-body">
                          <h2 class="card-title">Ing. de Software Jr.</h2>
                          <h4 class="card-subtitle mb-2 text-muted">Benito Juárez, CDMX</h4>
                          <p class="card-text">
                            Licenciatura o Ingeniería en Sistemas o carrera afín (Pasante o Titulado).
                            Inglés indispensable: Avanzado (se harán evaluaciones)
                          </p>
                          <button type="button" class="btn btn-primary">mas info</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>

      </section>
    <!-- ***** Fleet Ends ***** -->


