<div class="main-banner" >
  <video autoplay muted loop id="bg-video"  >
    <source src="assets/images/video.mp4" type="video/mp4" />
  </video>

  <div class="video-overlay header-text">
    <div class="caption">
      <h2>Encuentra el trabajo <em>Perfecto</em></h2>
      <div class="main-button">
        <a routerLink="FormUs">Contactanos</a>
      </div>
    </div>
  </div>
</div>
<!-- Comienza seccion quienes somos -->
<section style="" class="section" id="features">
  <div class="container">
    <div class="row mt-0">
      <div class="col-lg-6 ">
        <div style="margin-right: 5%" class="section-heading">
          <h2>Quienes &nbsp;<em>Somos</em></h2>
          <br>
          <p style="font-size: 100%; text-align: justify;">A causa de la pandemia del covid-19 alrededor de 12 millones de Mexicanos perdieron sus trabajos, causando asi un desajuste en la economia familiar. Alltogether surgue a causa
          de este gran problema y tiene como objetivo el poder brindar una platafomra web en la que los empleadores puedan ofrecer sus vacantes de empleo y los desempleados puedan aplicar para estas vacantes.
          Tambien deseamos brindar un proceso  agil y dinamico a la hora del reclutamiento y poder con eso lograr una realacion empleado-empleador, te invitamos a probar alltogether y con esto <em>encontrar tu trabajo ideal</em></p>
          <br>
          <h2 style="font-size: 110%">La felicidad consiste en dar, y en el servicio a los demas <em> Henry Drummond</em></h2>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div style="top: 31%;" class="embed-responsive embed-responsive-16by9">
          <iframe  class="embed-responsive-tiem" src="https://www.youtube.com/embed/VYsyDa0M2z0" allowfullscreen width="150%" height="150%"></iframe>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>
<!-- termina seccion quienes somos -->

<!-- comienza banner de empleador o usuario-->
<div class="main-banner">
  <div class="row" style="margin-right: auto;">
    <div class="col-lg-6 ">
      <img src="assets/images/joobseeker.jpg" alt=""  width="105%" height="100%">
      <div class="overlay">
        <div class="caption">
          <h2 style="color: #fff">Busco un Empleo</h2>
          <p style="color: #fff; font-size: 150%">Si eres nuevo y buscas un trabajo te invitamos a registrarte</p>
          <div class="main-button" style="margin-top: 2%">
            <a  routerLink="FormUs">Comencemos</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 ">
      <img src="assets/images/employer.jpg" alt=""  width="101.5%" height="100%">
      <div class="overlay">
        <div class="caption">
          <h2 style="color: #fff">Soy un Empleador</h2>
          <p style="color: #fff; font-size: 150%">Si eres nuevo y cuentas con una vacante disponible te invitamos a registrarte</p>
          <div class="main-button" style="margin-top: 2%">
            <a  routerLink="FormEmp">Comencemos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Termina banner de empleador y usuario -->

<section class="section" id="trainers" style="text-align: center; color: black;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2 style="margin-top: -13%">Equipo de <em>Trabajo</em></h2>
          <img src="assets/images/line-dec.png" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div class="trainer-item">
          <div class="image-thumb">
            <img src="assets/images/sau.jpeg" alt="">
          </div>
          <div class="down-content">
            <h4 style="margin-top: 5%">Saulo Bosquez</h4>
            <p>Ing. Sistemas Comp. &nbsp;/&nbsp;<br> Python</p>
            <ul class="social-icons">
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="trainer-item">
          <div class="image-thumb">
            <img src="assets/images/jav.jpeg" alt="">
          </div>
          <div class="down-content">
            <h4 style="margin-top: 5%">Javier Ramon</h4>
            <p>Ing. Sistemas Comp. / <br>Diseño Web</p>
            <ul class="social-icons">
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="trainer-item">
          <div class="image-thumb">
            <img src="assets/images/uli.jpeg" alt="">
          </div>
          <div class="down-content">
            <h4 style="margin-top: 5%">Ulises Jimenez</h4>
            <p>Ing. Sistemas Comp. &nbsp;/&nbsp; <br>Javascript</p>
            <ul class="social-icons">
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="trainer-item">
          <div class="image-thumb">
            <img src="assets/images/geo.png" alt="">
          </div>
          <div class="down-content" >
            <h4 style="margin-top: 5%">Geovanni Dzul</h4>
            <p>Ing. Gestion de Tec. &nbsp;/&nbsp;<br> Redes</p>
            <ul class="social-icons">
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>
